@import url("./section.css");
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
}
#nav{
   /* border: 2px solid;*/
    height: 80px;
    background-color: #000;
}
#sub-nav{
/*  border: 2px solid red;*/
    height: inherit;
    width: 70%;
    margin:auto;
}
#sub-nav span svg{
    height: 2.5em;
    margin-top: 17px;
    fill: #fff;
}
#sub-nav div{
   /* border: 2px solid;*/
    width: 465px;
    position: absolute;
    top: 33px;
    left: 55%;
}
#sub-nav div span{
    left: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
#sub-nav div span:hover{
    cursor: pointer;
    color: #19e68C;

}